.bicicleta-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}
.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../../img/dec/top-right.svg") no-repeat top 40px right
    20px;
}
.bicicleta-img {
  display: grid;
}
.bicicleta-img img {
  grid-area: 1/1;
}
.bicicleta-img span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-12);
  padding: 8px 16px 8px 8px;
  display: inline-block;
  border-radius: 4px 0 0 4px;
}
.bicicleta-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}
.bicicleta-conteudo h2,
.bicicleta-conteudo p {
  grid-column: 1/-1;
}
.bicicleta h2 {
  margin-bottom: 20px;
}
.bicicleta h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  margin-bottom: 8px;
}
.bicicleta p {
  margin-bottom: 32px;
}
.bicicleta a {
  place-self: end;
}
.bicicleta li {
  display: flex;
  align-items: center;
}
.bicicleta li + li {
  margin-top: 16px;
}
.bicicleta-conteudo img {
  width: 24px;
  margin-right: 8px;
}
@media (max-width: 800px) {
  .bicicleta-bg {
    background: var(--cor-11);
  }
  .bicicleta {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .bicicleta-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicleta ul {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .bicicleta a {
    place-self: start;
  }
}
